{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<div class="card p-3 w-50 mx-auto my-3">
  <h1>Reset your password</h1>
  <p>We've emailed you instructions for setting your password.</p>
  <p>If you don't receive an email, please make sure you've entered the address you registered with.</p>
</div>
{% endblock %}
