{% extends "base.html" %}

{% block title %}Password reset{% endblock %}

{% block content %}
<div class="mx-auto my-3 card w-50 p-3">
  <h1>Password set</h1>
  <p>Your password has been set. You can <a href="{% url "login" %}">log in now</a></p>
</div>

{% endblock %}
