{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="mx-auto my-3 card p-2 w-50">
  <h3>Forgotten your password?</h3>
  <p>Enter your e-mail address to obtain a new password.</p>
  <form method="post">
    {{ form|crispy}}
    <p><input type="submit" value="Send e-mail" class="btn btn-primary w-100"></p>
    {% csrf_token %}
  </form>
</div>

{% endblock %}
