{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card w-50 p-3 mx-auto my-3">
  <h1>Reset your password</h1>
  {% if validlink %}
    <p>Please enter your new password twice:</p>
    <form method="post">
      {{ form|crispy }}
      {% csrf_token %}
      <p><input type="submit" value="Change my password" class="btn btn-primary w-100"/></p>
    </form>
  {% else %}
    <p>The password reset link was invalid, possibly because it has
    already been used. Please request a new password reset.</p>
  </div>
  {% endif %}
{% endblock %}
