{% extends 'base.html'%}
{% load thumbnail %}
{% load embed_video_tags %}
{% load course %}
{% block title %}{{ content|model_name }}{% endblock %}
{% block content %}
{% load user_intro %}
<!-- profile -->

<div class="card mb-3 w-25 p-3 mx-auto my-4">
  <img src="{{ content.file_image.url }}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"><small class="text-muted">Last updated {{ content.updated|date:"d M Y" }} ||
        created at{{ content.created|date:"d M Y" }}
        </small></p>
        <p class="card-text"><small class="text-muted">autor: {{ content.owner.get_full_name }}</small></p>
    <div style="background-color: rgba(248, 239, 220, 0.685); border-radius: 10px;" class="p-2 ">
        <p class="card-text" >{{ content.description|linebreaks}}</p>
    </div>
    {% if content|model_name == 'text' %}
        <p class="card-text">{{ content.content|linebreaks }}</p>
    {% elif content|model_name == 'video' %}
        {% video content.url '410x280' %}
    {% elif content|model_name == 'file' %}
        <a class="btn btn-primary w-100 my-3 " href="{{ content.file_stuff.url }}" class="button">Download file</a>
    {% endif %}
  </div>
  {% if request.user == content.owner %}
  <div class="btn-group" role="group" aria-label="...">
    <a href="{% url 'mainsite:update_content' content|model_name content.id %}" type="button" class="btn btn-primary">edit</a>
    <a href="{% url 'mainsite:content_delete' content|model_name content.id %}" type="button" class="btn btn-danger">delet</a>
  </div>
  {% endif %}
  {% with total_likes=content.users_like.count users_like=content.users_like.all %}
  <a href="#" data-model="{{ content|model_name }}" data-id="{{ content.id }}" data-action="{% if request.user in users_like %}un{% endif %}like" style="background-color: rgb(255, 51, 0); width: 60px; color: white;" class="like button p-1 m-3">
          {% if request.user not in users_like %}
            Like
          {% else %}
            Unlike
          {% endif %}
        </a>

    <span>{{ total_likes|slice:":5" }} like</span>
    <div style="display: flex; flex-direction: row;">
    {% for like in users_like %}
    <img src="{{ like.profile.photo|thumbnail_url:'user_like' }}" alt="" style="width: 25px; border-radius: 25px;">
    {% endfor %}
    </div>
  {% endwith %}
</div>
{% endblock %}



{% block domready %}
  $('a.like').click(function(e){
    e.preventDefault();
    $.post('{% url "mainsite:like" %}',
      {
        model: $(this).data('model'),
        id: $(this).data('id'),
        action: $(this).data('action')
      },
      function(data){
        if (data['status'] == 'ok')
        {
          var previous_action = $('a.like').data('action');

          // toggle data-action
          $('a.like').data('action', previous_action == 'like' ?
          'unlike' : 'like');
          // toggle link text
          $('a.like').text(previous_action == 'like' ? 'Unlike' :
          'Like');

          // update total likes
          var previous_likes = parseInt($('span.count .total').text());
          $('span.count .total').text(previous_action == 'like' ?
          previous_likes + 1 : previous_likes - 1);
        }
      }
    );
  });
{% endblock %}