{% extends "base.html" %}

{% block title %}
  {% if object %}
    Edit content
  {% else %}
    Add new content
  {% endif %}
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class="card w-50 mx-auto my-3 p-2">
  <h1>
    {% if object %}
      Edit content
    {% else %}
      Add new content
    {% endif %}
  </h1>
  <div class="module">
    <form method="post" enctype="multipart/form-data">
      {{ form|crispy }}
      {% csrf_token %}
      <input type="submit" value="Save content" class="btn btn-primary w-100">
    </form>
  </div>

</div>
{% endblock %}
