{% extends 'base.html'%}
{% block title %}Aviato{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<!-- profile -->
<div class="card w-25 mx-auto my-3">
    <form method="POST" class="m-2">{% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-success w-100" value="change">
    </form>
</div>

{% endblock %}