{% extends 'base.html' %}
{% block title %}
log out
{% endblock title %}
{% block content %}
<div class="card mx-auto my-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">log out</h5>
    <p class="card-text">Are you sure you want to do this?</p>
    <a href="{% url 'logout'%}" class="btn btn-danger">Yes, I'm sure</a>
    <a href="{% url 'mainsite:home' %}" class="btn btn-warning">cancel</a>
  </div>
</div>
{% endblock content %}