{% extends 'base.html' %}
{% block title %}edit{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% if messages %}
{% for message in messages %}
    <div class=" alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Attention: </strong> {{ message }}.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
{% endfor %}
{% endif %}
<div class="card mx-auto my-5 w-50">
    <div class="card-body" >
      <h3 class="card-title">edit profile</h3>
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            {{ user_form|crispy}}
            {{ profile_form|crispy }}
            <input type="submit" value="edit" class="btn btn-success " style="width: 100%; margin-top: 20px;">
        </form>
    </div>
</div>
{% endblock %}


 