{% extends 'base.html' %}
{% block title %}login{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card mx-auto my-5" style="width: 18rem;" >
    <div class="card-body" >
      <h3 class="card-title">Login</h3>
        <form method="POST">{% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="login" class="btn btn-success" style="width: 100%; margin-top: 20px;">
        </form>
    </div>
</div>
{% endblock %}


 