{% extends 'base.html' %}
{% block title %}
register
{% endblock title %}
{% block content %}
{% load crispy_forms_tags %}
{% if messages %}
{% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Attention: </strong> {{ message }}.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
{% endfor %}
{% endif %}

<div class="card mx-auto my-5" style="width: 18rem;" >
  <div class="card-body">
    <h3 class="card-title">register</h3>
        <form method="POST">{% csrf_token %}
           {{ form|crispy }}
            <input type="submit" value="register" class="btn btn-success " style="width: 100%; margin-top: 20px;">
        </form>
  </div>
</div>
{% endblock content %}