{% extends 'base.html' %}
{% block title %}
wellcom
{% endblock title %}
{% block content %}
<div class="card w-25 mx-auto my-3">
  <div class="card-body">
    <h5 class="card-title">register done</h5>
    <h6 class="card-subtitle mb-2 text-muted">wellcom</h6>
    <p class="card-text">please login</p>
    <a href="{% url 'login'%}" class="card-link">login</a>
  </div>
</div>
{% endblock content %}