{% extends 'base.html' %}
{% block title %}setting{% endblock %}
{% load crispy_forms_tags %}
{% load user_intro %}
{% block content %}

{% user_profile_intro %}

<ul class="list-group w-50 mx-auto my-3">
  <li class="list-group-item active"> setting</li>
  <li class="list-group-item"><span class="material-icons m-2">create</span>
  <a href="{% url 'edit' %}">edit profile info</a>
  </li>
  <li class="list-group-item"><span class="material-icons m-2">app_settings_alt</span>
   <a href="{% url 'change_password' %}">change pasword</a> 
  <i class='fas fa-sync-alt' style='font-size:24px'></i></li>
  <li class="list-group-item"><span class="material-icons m-2">screen_lock_rotation</span>
  <a href="{% url 'password_reset' %}">reset password</a> 
  <i class='fas fa-undo-alt' style='font-size:24px'></i></li>
  <li class="list-group-item"><span class="material-icons m-2">exit_to_app</span>
  <a href="{% url 'confirm_logout' %}">log out</a>
  <i class='fas fa-door-open' style='font-size:24px'></i></li>
</ul>

{% endblock %}


 