{% extends 'base.html' %}
{% block title %}
{{ user.get_full_name}}
{% endblock title %}
{% load thumbnail %}
{% block content %}
<div class="card w-50 p-3 mx-auto my-4" >
    <div class="card-body  justify-content-around" >
    <div class="d-flex flex-column">

      <div style="margin-left:30px;" class="d-flex flex-row">
      <img style="border-radius: 50%; width: 100px; height: 100px;" src="{{ user.profile.photo|thumbnail_url:'avatar' }}" alt="" />
      <div style="margin-left: 20px;">
        <h5 class="card-title">{{ user.get_full_name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">born: {{ user.profile.date_of_brith|date:"d M Y" }}</h6>
        <h6 class="card-subtitle mb-2 text-muted">join: {{ user.profile.created| date:"d M Y" }}</h6>
        <a href="#" style="background-color: rgb(0, 162, 255); color: white; padding: 9px;"  data-id="{{ user.id }}" data-action="{% if request.user in user.followers.all %}un{% endif %}follow" class="follow button">
        {% if request.user not in user.followers.all %}
        Follow
        {% else %}
        Unfollow
        {% endif %}
        </a>
      </div>
    </div>
    <div style="padding:20px 20px;">
      <p class="card-text">{{ user.profile.bio }}</p>
    </div>
  </div>
</div>
{% endblock content %}

{% block domready %}
  $('a.follow').click(function(e){
    e.preventDefault();
    $.post('{% url "user_follow" %}',
      {
        id: $(this).data('id'),
        action: $(this).data('action')
      },
      function(data){
        if (data['status'] == 'ok') {
          var previous_action = $('a.follow').data('action');

          // toggle data-action
          $('a.follow').data('action',
            previous_action == 'follow' ? 'unfollow' : 'follow');
          // toggle link text
          $('a.follow').text(
            previous_action == 'follow' ? 'Unfollow' : 'Follow');

          // update total followers
          var previous_followers = parseInt(
            $('span.count .total').text());
          $('span.count .total').text(previous_action == 'follow' ?
          previous_followers + 1 : previous_followers - 1);
        }
      }
    );
  });
{% endblock %}