{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}
users
{% endblock title %}

{% block content %}
{% for user in users %}

<div class="card w-50 p-3 mx-auto m-2">
    <div style="display: flex; flex-direction: row;">
        <a href="{% url 'user_detail' user.username %}"><img style="border-radius: 50%; width: 100px;" src="{{ user.profile.photo|thumbnail_url:'avatar' }}" alt="" /></a>
        <div style="display: flex; flex-direction: row; padding: 10px;">
        <div>
            <h4>{{ user.get_full_name  }}</h4>
            <p>{{ user.profile.bio|truncatewords:15 }}</p>
        </div >
        </div>
    </div>
</div>
{% endfor %}
{% endblock content %}
