{% extends 'base.html'%}
{% load thumbnail %}
{% load course %}
{% block title %}Aviato{% endblock %}
{% block content %}
{% load user_intro %}
<!-- profile -->
{% if user.is_authenticated %}
{% user_profile_intro %}
{% endif %}
{% if all_stuff %}
 {% for stuff in all_stuff %}
 <div class="card mb-3 w-50 p-3 mx-auto my-4" >
    <div class="row no-gutters">
      <div class="col-md-4">
        <a href="{% url 'mainsite:content_detail' stuff|model_name stuff.id %}">
          <img src="{{ stuff.file_image.url }}" class="card-img" alt="..." style="max-width: 100px;">
        </a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text">{{ stuff.description|truncatewords:20 }}</p>
          <span class="badge badge-warning">{{ stuff|model_name }}</span>
          <p class="card-text"><small class="text-muted">Last updated {{ stuff.updated|date:"d M Y" }}</small></p>
          <p class="card-text"><small class="text-muted">autor: {{ stuff.owner.get_full_name }}</small></p>
        </div>
      </div>
    </div>
  </div>
 {% endfor %}
{% else %}

<div class="card mb-3 w-50 p-3 mx-auto my-4" >
  <a href="{% url 'mainsite:discovery'%}" class="btn btn-outline-success">discovery</a>
  </div>
{% endif %}

<!-- end profile  -->
{% endblock %}