{% load thumbnail %}
{% if user %}
<div class="card w-50 p-3 mx-auto my-4" >
    <div class="card-body  justify-content-around" >
    <div class="d-flex flex-row">
      <img style="border-radius: 50%; width: 100px;" src="{{ user.profile.photo|thumbnail_url:'avatar' }}" alt="" />
      <div style="margin-left:30px;">
      <h5 class="card-title">{{ user.get_full_name }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">born: {{ user.profile.date_of_brith|date:"d M Y" }}</h6>
      <h6 class="card-subtitle mb-2 text-muted">join: {{ user.profile.created| date:"d M Y" }}</h6>
      </div>
    </div>
      <div style="padding:20px 20px;">
        <p class="card-text">{{ user.profile.bio }}</p>
        <div style="display: flex; flex-direction: row;">
          <a href="" class="btn btn-outline-primary" style="height: 39px; margin-right: 3px;">followers: {{ user.followers.count }}</a>
          <a href="" class="btn btn-outline-primary" style="height: 39px;">following: {{ user.following.count }}</a>
          <a href="" class="btn btn-outline-primary" style="height: 39px; margin-left: 3px;">posts: {{ post_count }}</a>
        <a href="{% url 'user_settings'%}" class="card-link p-2"><span style="color: rgb(71, 68, 68);" class="material-icons">settings</span></a>
        <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            add
          </a>
        
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="{% url 'mainsite:create_content' 'video' %}"><span class="material-icons">
              play_circle_outline
              </span></a>
            <a class="dropdown-item" href="{% url 'mainsite:create_content' 'file' %}"><span class="material-icons">
              create_new_folder
              </span></a>
            <a class="dropdown-item" href="{% url 'mainsite:create_content' 'image' %}"><span class="material-icons">
              add_photo_alternate
              </span></a>
            <a class="dropdown-item" href="{% url 'mainsite:create_content' 'text' %}"><span class="material-icons">
              title
              </span></a>
          </div>
        </div>
      </div>
      </div>
    </div>
</div>
{% else %}
hello
{% endif %}